<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta charset="UTF-8">

<div id="app">
    <template v-if='logado'>
        <p >Usuario Logado: {{nome}}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if='anonimo'>Navegando como anonimo</p>
    <p v-else>Nenhum usuario logado</p>
    <button @click='logado = !logado'>
        {{ logado ? "Sair" : 'Entrar' }}
    </button>
    <input type='checkbox' v-model='anonimo'>
    <hr>
    <footer v-show='logado'>
        Desenvolvido para você
    </footer>
    <footer v-show='!logado'>
        Desenvolvido para você que é desconhecido
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Maria',
            logado: false,
            anonimo: false
        }
    })
</script>