<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta charset="UTF-8">

<div id="app">
    <ul>
        <li v-for='(cor, index) in cores' :key='cor'>{{index}} - {{cor}}</li>
    </ul>
    <button @click="cores.push('branca')">Adicionar</button>

    <hr>

    <template v-for='(cor, i) in cores'>
        <h1>{{cor}}</h1>
        <p>{{i}}</p>
    </template>

    <hr>

    <ul>
        <li v-for='pessoa in pessoas'>
            <!--Percorredo todos os itens do objeto-->
            <div v-for="(valor, chave, indice) in pessoa">
                {{chave}} = {{valor}} ({{indice}})
            </div>
        </li>
    </ul>

    <hr>

    <span v-for='n in 10'>{{n}}</span>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                {nome: 'Ana', idade: 26, peso: 59},
                {nome: 'Guilherme', idade: 22, peso: 89}
            ],
        }
    })
</script>