<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Matador de Monstros</title>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600i&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="styles.css">

        <script src='https://unpkg.com/vue'></script>
    </head>
    <body>
        <div id='app'>
            <!--scores-->
            <div class="panel scores">
                <div class="score">
                    <h1>Jogador</h1>
                    <div class='life-bar'>
                        <div 
                            class='life ' 
                            :class="{danger: playerLife < 20}"
                            :style="{width: playerLife+'%'}"
                        ></div>
                    </div>
                    <div>{{playerLife}}%</div>
                </div>

                <div class="score">
                    <h1>Monstro</h1>
                    <div class='life-bar'>
                        <div 
                            class='life ' 
                            :class="{danger: monsterLife < 20}"
                            :style="{width: monsterLife+'%'}"
                        ></div>
                    </div>
                    <div>{{monsterLife}}%</div>
                </div>
            </div>

            <!--result-->
            <div class="panel result" v-if='hasResult'>
                <div class='win' v-if='monsterLife == 0'>Você ganhou! :)</div>
                <div class='loose' v-else>Você perdeu! :(</div>
            </div>

            <!--buttons-->
            <div class="panel buttons">
                <template v-if='running'>
                    <button class="btn attack" @click='attack(false)'>Ataque</button>
                    <button class="btn special-attack"  @click='attack(true)'>Ataque Especial</button>
                    <button class="btn heal" @click='healAndHurt()'>Curar</button>
                    <button class="btn give-up" @click='running = false'>Desistir</button>
                </template>

                <button 
                    class="btn new-game" 
                    @click='startGame'
                    v-else
                >
                    Iniciar Jogo
                </button>
            </div>

            <!--logs-->
            <div class="panel logs" v-if="logs.length">
                
            </div>
        </div>
    
        <script src='app.js'></script>
    </body>
</html>